.vscode/**
.vscode-test/**
.github/**
src/**
out/test/**
.gitignore
.notes.json
.margo/**
tsconfig.json
eslint.config.mjs
justfile
Justfile
_az/**
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
*.vsix
